---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About | Alice's Blog">
	<h1>About</h1>
	<p>There's nothing about to say.</p>
	<p>If you want to discuss anything with me, just come and talk to me in person or on WeChat (or Instagram if you know me).</p>
</Layout>
